html,
body,
figure,
div,
input,
textarea,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

body {
    background-color: #121214;
}

figcaption {
    display: none;
    /*Esconde a legenda da imagem*/
}

.container {
    display: flex;
    justify-content: center;
}

figure.container {
    margin-top: 25px;
}

.main-title {
    color: white;
    font-family: 'IBM Plex Sans';
    font-weight: 600;
    font-size: 32px;
    line-height: 42px;
    text-align: center;
}

.main-title h1 {
    margin: 73px 0;
}

section div.users-container {
    display: flex;
    width: 900px;
    justify-content: center;
}

.users {
    display: flex;
    justify-content: center;
}

.users ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 61px;
}

.users ul li {
    width: 160px;
    margin: 0 26px;
    flex-wrap: wrap;
}

.users ul li a {
    text-decoration: none;
}

.users ul li figure {
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid transparent;
    width: 100%;
}

.users ul li img {
    border-radius: 7px;
    width: 100%;
    display: block;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    /* Fix para o tamanho da figure nao ficar um pouco maior */
}

.users ul img:hover {
    border-color: #FFFFFF;
    transform: scale(1.2);
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.users ul li p {
    margin-top: 16px;
    color: #9C9C9C;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
}

.users ul li p:hover {
    color: #FFF;
}

.buttons {
    margin-top: 102px;
}

.buttons a {
    padding: 15px 44px;
    border: 1.5px solid #FFFFFF;
    border-radius: 8px;
    text-decoration: none;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}

.buttons a:hover {
    background-color: #FFF;
    color: black;
}